.DS_Store
.DS_Store?
Thumbs.db
.idea
.idea/
.vscode/
node_modules/
dist/
build/
coverage/
.env
.env.*
.prod_key
.test_key
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-store/
*.log
.eslintcache
*.tsbuildinfo
.turbo/
.next/
.cache/
.parcel-cache/
*.session
last_message.json
